<h1 mat-dialog-title><mat-icon>{{ iconList[data.mood] }}</mat-icon>Hazme ist {{ data.mood }}</h1>
<div mat-dialog-content>
  
    <ng-container *ngIf="state$ | async as state">
        <ng-container [ngSwitch]="state.state">
            
            <div *ngSwitchCase="'running'" style="display: flex; align-items: center;">
                <div style="order: 1;">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <p style="order: 2; margin: 0 0 0 12px;">
                    {{ state.message }}
                </p>
            </div>

            <div *ngSwitchCase="'success'">
                <p>{{ state.message }}</p>
                <mat-list role="list">
                    <mat-list-item role="listitem">Hazme ist <i> {{ data.mood }} </i></mat-list-item>
                    <mat-list-item role="listitem">Extra-Info: <i> {{ data.info }} </i></mat-list-item>
                </mat-list>
            </div>

            <mat-card *ngSwitchCase="'error'" style="background: #F44336;">
                <mat-card-title style="display: flex;">
                    <mat-icon>sentiment_very_dissatisfied</mat-icon>
                    <p>Sorry, kleiner Fehler ...</p>
                </mat-card-title>
                <mat-card-content>
                    {{ state.message | json }}
                </mat-card-content>
            </mat-card>

        </ng-container>
    </ng-container>
  
</div>
<div mat-dialog-actions>
  <button *ngIf="(state$ | async).state == 'success'" mat-raised-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Schließen</button>
</div>
